{% extends "base.html" %}

{% block title %}10. oktobra grem na volitve, ker {{ reel1.text }} {{ reel2.text }} {{ reel3.text }} {{ reel4.text }}{% endblock %}

{% block extrahead %}
<meta property="og:title" content="10. oktobra grem na volitve, ker .." />
<meta property="og:description" content="{{ reel1.text }} {{ reel2.text }} {{ reel3.text }} {{ reel4.text }}" />
<meta property="og:image" content="{{ SITE_URL }}/static/images/facebook.jpg" />
{% endblock %}

{% block content %}

<img src="/static/images/reason_top.png" class="center" />
<div id="reason">
    <p>{{ reel1.text }} {{ reel2.text }} {{ reel3.text }} {{ reel4.text }}</p>
    <br />
    <iframe src="http://www.facebook.com/plugins/like.php?href={{ SITE_URL }}/{{ request.PATH }}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px; float: center;" allowTransparency="true"></iframe>
    <a name="fb_share"></a> 
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
            type="text/javascript">
    </script>
    <br />
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ SITE_URL }}/{{ request.PATH }}" data-text="10. oktobra grem na volitve, ker {{ reel1.text }} {{ reel2.text }} {{ reel3.text }} {{ reel4.text }} " data-count="horizontal" data-via="cyberpipe">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

{% endblock %}

{% block footer %}
<form action="." method="POST" accept-charset="utf-8" class="center">
    {% csrf_token %}
    <input type="image" src="/static/images/reason_bottom.png" name="submit" value="Submit" id="index" />
</form>
{% endblock %}